<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Help</h1>
    <%= link_to "New ticket", new_ticket_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
    <h3 class="text-xl mt-1">View and create tickets to get help for a problem</h1>
  <div id="tickets" class="min-w-full">
    <% if @tickets.length == 0%>
      <p class="mt-5">You have no tickets</p>
    <% end %>
    <% if @tickets.length > 0%>
      <table class="table-auto border-separate py-2 px-2 mt-5 border border-black rounded w-full">
        <thead class="text-left">
          <tr>
            <th>Problem</th>
            <th>Status</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="text-left">
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.problem[0,30] %></td>
              <td><%= ticket.resolved ? "Closed" : 'Open' %></td>
              <td><%= ticket.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= button_to "View", ticket_path(ticket), method: :get, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %></td>
              <td><%= button_to "Delete", ticket_path(ticket), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end%>
  </div>
</div>
