<div class="w-full">
  <div class="flex justify-between items-center">
    <h1>Help</h1>
    <%= link_to "New ticket", new_ticket_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
    <h3 class="text-xl mt-1">View and create tickets to get help for a problem</h1>
  <div id="tickets" class="min-w-full">
    <% if @tickets.length == 0%>
      <p class="mt-5">You have no tickets</p>
    <% end %>
    <% if @tickets.length > 0%>
      <table class="table-fixed border-separate py-2 px-2 mt-5 border border-black w-full">
        <thead class="text-left text-xs md:text-sm">
          <tr>
            <th>Problem</th>
            <th>Status</th>
            <th>Category</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="text-left text-xs md:text-sm">
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.problem[0,30]... %></td>
              <td><%= ticket.resolved ? "Closed" : 'Unresolved' %></td>
              <td><%= ticket.category.humanize %></td>
              <td><%= ticket.created_at.strftime("%A #{ticket.created_at.day.ordinalize} %B at %l:%M%P") %></td>
              <td><%= button_to "View", ticket_path(ticket), method: :get, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end%>
  </div>
</div>
